n8n Assignment/Send mail from Google.json
{
  "name": "Send mail from Google",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "63e34db2-5ae2-4555-83a8-af28323756ed",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/11DGouZDGGVxjRPcRQdmrKHE7NdAXp6toy4_jHEH4uHY/edit?usp=drivesdk",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11DGouZDGGVxjRPcRQdmrKHE7NdAXp6toy4_jHEH4uHY/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        220,
        0
      ],
      "id": "53a484d9-0099-4eb9-81c1-7271ccf7d327",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Wkqjg2KogUsSWeY3",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        291.77599999999995,
        0
      ],
      "id": "4e62ab8f-cea4-4bbd-bf1d-5bb61f8ac4f6",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        520,
        0
      ],
      "id": "1ae596fb-daf7-419f-82ec-8a331b8afa82"
    },
    {
      "parameters": {
        "sendTo": "info@gmail.com",
        "subject": "Hello {{ $json[\"Name\"] }}",
        "message": "{{ $json[\"Message\"] ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        291.77599999999995,
        0
      ],
      "id": "8f6d5cd4-d191-49ba-a8c6-bb0f8ded5e7a",
      "name": "Send a message",
      "webhookId": "1341bee9-2c6d-4858-95ee-4876a38a2347",
      "credentials": {
        "gmailOAuth2": {
          "id": "dzi81UKdDkB6y05J",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bf6c68d1-365e-49e6-be63-a490b4e8fcf9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c44f6859290e648970826a05b71850d3e511fd994b84d2e945c75831eb199980"
  },
  "id": "hhJarL5dRGKg13X7",
  "tags": []
}